<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613839483669-5u6cg47f1ebr6co8geetloc1u1g1kj43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613839483669-5u6cg47f1ebr6co8geetloc1u1g1kj43</string>
	<key>API_KEY</key>
	<string>AIzaSyBJh8I-jkwyedyUsSae4wNUHJ8nW0vvr8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>613839483669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.tanahashi.yui.ScavengerHunt</string>
	<key>PROJECT_ID</key>
	<string>scavengerhunt-4b20b</string>
	<key>STORAGE_BUCKET</key>
	<string>scavengerhunt-4b20b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613839483669:ios:ac87593fde8c53497c6f1c</string>
</dict>
</plist>